<!DOCTYPE html>
<html lang="en">
<head>
  <title>Get Reimbursed!</title>
</head>
<body>
  <main>
    <div>
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
      </form>
    </div>
  </main>
</body>
</html>
