<!DOCTYPE html>
<html lang="en">
<head>
  <title>Get Reimbursed!</title>
</head>
<body>
    <header>
        <nav>
          <a href="{% url 'home' %}">main page</a>
        </nav>
    </header>
    <main>
      <h1>Accounts</h1>
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Number of receipts</th>
              </tr>
          </thead>
          <tbody>
              {% for account in account_list %}
              <tr>
                  <td>{{ account.name }}</td>
                  <td>{{ account.number }}</td>
                  <td>{{ account.receipts.all|length }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </main>
</body>
</html>
