<!DOCTYPE html>
<html lang="en">
<head>
  <title>Get Reimbursed!</title>
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'home' %}">main page</a>
    </nav>
  </header>
  <main>
    <div>
      <h1>Create Receipt</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
    </div>
  </main>
</body>
</html>
