<!DOCTYPE html>
<html lang="en">
<head>
  <title>Get Reimbursed!</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'create_receipt' %}">create receipt</a></li>
        <li><a href="{% url 'category_list' %}">category list</a></li>
        <li><a href="{% url 'account_list' %}">account list</a></li>
        <li><a href="{% url 'create_category' %}">create category</a></li>
        <li><a href="{% url 'create_account' %}">create account</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
  </nav>
  </header>
  <main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for item in receipt_list %}
            <tr>
                <td>{{ item.vendor }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.tax }}</td>
                <td>{{ item.date|date:"m/d/y" }}</td>
                <td>{{ item.category.name }}</td>
                <td>{{ item.account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </main>
</body>
</html>
